.flex-container {
    display: flex;
    flex-direction: row;
  }

  .flex-container > div {
    background-color: darkseagreen;
    width: 50%;
    margin: 40px;
    text-align: center;
    font-size: 1rem;
  }

  .header {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
  }