.flex-container {
    display: flex;
    flex-direction: row;
  }

  .flex-container > div {
    width: 50%;
    margin: 40px;
    text-align: center;
    font-size: 1rem;
    border: 2px solid #ffae00;
    padding: 30px;
  }

  .header {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
  }

  .change-devoured{
    margin-left: 50px;
  }

  .add-form {
    width: 30%;
    margin: auto;

  }
  #subm{
    margin: auto;
  }

  